*{
    scroll-behavior: smooth;
}

#body{
    background: #0F1410;
    color: #fff;
    height: auto;
}

.custom-hr{
    height: 2px;
    background: gray;
}

.navbar-custom{
    background: none;
}

.active{
    color: #7DC7EC;
    transition: .5s;
}

#banner-content{
    padding-top: 8%;
    text-align: left;
}

#banner-content > h1{
    font-size: 30px;
}

.btn-cutom{
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    background: none;
    border: 1px solid #7DC7EC;
    color: white;
    transition: .5s;
}

.btn-cutom:hover{
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    background: #7DC7EC;
    color: white;
}

.featured-title{
    text-align: center;
    font-size: 30px;
    color: #7DC7EC;
    margin-top: 20px;
}

.image-1{
    background: grey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.paragraph{
    text-align: center;
    padding-top: 20px;
}

.paragraph > h2{
    font-weight: bolder;
    font-size: 19px;
}

.paragraph > p{
    font-size: 16px;
}

.image-2{
    border: 3px solid #343F43;
    background: #19242A;
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

.image-2 > img{
    width: 50%;
}

.image-2 > h5{
    font-weight: bold;
}

.image-2 > h6{
    font-weight: bold;
    color: #7DC7EC;
    padding-top: 10px;
}

.about-img{
    margin-top: 40px;
    margin-left: 50px;
    
}

.img-about{
    border: 3px solid #343F43;
    border-radius: 10px;
}

.testimonial-content {
    display: flex;
}

.testimonial-content > img{
    border: 8px solid #fff;
    border-radius: 10px;
    width: 20%;
}

.sub-content-testimonial > i{
    color: #7DC7EC;
}

.sub-content-testimonial{
    padding: 10px;
}

.sub-content-testimonial > h6{
    color: #7DC7EC;
    padding-top: 10px;
    font-size: 20px;
}

#contact{
    background-image: url(../img/map.jpg);
    height: auto;
}

#contact-overlay{
    background: #0F1410;
    opacity: .6;
}

.contact-title{
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

.icons{
    display: flex;
}

.fa-icon > i{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.fa-icon > svg{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}

.form-contact{
    background: #384649;
    padding: 10px;
    border-radius: 10px;
}

.control > input,
.control > input:focus{
    background: none;
    margin-top: 20px;
    border: none;
    box-sizing: none;
    box-shadow: none;
    border-bottom: 1px solid #7DC7EC;
    color: #fff;
}

.control > input::placeholder {
    color: #fff;
}

footer{
    background: #000;
}

.footer-links > li > a{
    color: #fff;
    transition: .5s;
}

.footer-links > li > a:hover{
    color: #7DC7EC;
}

.quick-links > h2,
.contact-us > h2,
.subscribe > h2{
    font-weight: bold;
}

.copyright{
    color: #fff;
    text-align: center;
}
.copyright > i{
    color: red;
    text-align: center;
}